:root {
  --font-family: GT Eesti Pro Text;
  --app-container-max-width: 1416px;

  --primary-color: rgb(0, 91, 255);
  --secondary-primary-color: rgb(0, 80, 224);

  --dark-color: rgb(7, 7, 7);
  --grey-color: rgba(0, 26, 52, 0.6);
}