.Anchor {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  transition: var(--transition);
  &:hover {
    color: var(--secondary-primary-color);
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.dark {
  color: var(--dark-color);
}

.grey {
  color: var(--grey-color);
}

.icon {
  margin-top: 1px;
}