.ProductCard {
  width: 265px;
}

.image {
  margin-bottom: 12px;
  width: 265px;
  height: 265px;
  border-radius: 12px;
}

.dateButton {
  width: 100%;
}

.name {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
}