.Badge {
  display: inline-block;
  padding: 1px 6px;
  font-weight: 500;
  font-size: 14px;
  transition: var(--transition);
}

.grey {
  color: var(--grey-color);
  background-color: rgba(0,48,120,.039);
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}